.lesson {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 20px auto;
  border: 1px solid #3d3d3d;
  border-radius: 10px;
  padding: 15px;

  &_content {
    display: flex;
    align-items: center;

    & svg {
      margin-right: 15px;
    }
  }

  &_title {

  }

  &_date {
    align-self: end;
  }
}